body {
    font-family: Arial, sans-serif;
    background-color: #8a08aa;
    margin: 0;
    text-align: center;
}

nav {
    background-color: white;
    padding: 15px;
}

nav a {
    color: #b89a00;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

img {
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

p {
    font-size: 18px;
    line-height: 1.6;
}
